<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
</head>

<body>
    <header>
        <h1>Method Leather</h1>
        <nav>
            <ul>
                <li>
                    <a href="/products">Store</a>
                </li>
                <li>
                    <a href="/custom">Custom Orders</a>
                </li>
            </ul>
        </nav>
    </header>
</body>

</html>
