* {
    box-sizing:border-box;
}

/*HOME PAGE*/

#homeBody {
    background: url("https://i.imgur.com/9VB0u12.png") no-repeat center center fixed;
    background-size: cover;
    
}

#homeHeader {
    background-color: #0c2043;
    display: flex;
    height: 5.125rem;
    justify-content: center;
}
    
    
    


li {
    display: inline;
    padding: 16px;
    justify-content: center;
    
}

#homeNav {
    padding-top: 16px;
}
  

a:link{
    text-decoration: none;
    
}

a:hover{
    text-decoration: underline;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#indexBody {
    background-color: white;
}

header {
    background-color: #0c2043;
    display: flex;
    height: 5.125rem;
    justify-content: center;
}

nav {
    padding-top: 16px;
    padding-left: 16px;
}